<h2>Log In</h2>

<div class="login-form">
	<form action="/auth/login" method="post">
		<div class="row">
			<div class="large-4 large-offset-4 columns">
				<label>
					Username
					<input type="text" name="username">
				</label>
			</div>
		</div>
		<div class="row">
			<div class="large-4 large-offset-4 columns">
				<label>
					Password
					<input type="password" name="password">
				</label>
			</div>
		</div>
		<div class="row">
			<div class="large-4 large-offset-4 columns">
				<label>
					<input type="submit" value="Log In" class="button">
				</label>
			</div>
		</div>
	</form>
</div>